# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
dist/

# CDK
cdk.out/
.cdk.staging/

# TypeScript
*.js.map
*.d.ts

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Build
build/

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
